@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Plus Jakarta Sans";
}

body {
    background-color: #edf0f2;
}

header img {
    display: block;
    width: 57px;
    height: 46px;
    margin-left: 61px;
    margin-top: 49px;
}

header a {
    display: block;
    width: 0px;
    height: 0px;
}

nav {
    display: flex;
    font-size: 16px;
    gap: 27px;
    margin-left: 57%;
}

nav a {
    display: flex;
    background-color: transparent;
    width: 122px;
    height: 38px;
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.garagem {
    display: flex;
    background-color: #fd2016;
    width: 122px;
    height: 38px;
    color: white;
    border-radius: 19px;
    align-items: center;
    justify-content: center;
}

.notificacao {
    position: relative;       /* referência para o badge */
    background-color: #c8d1d9;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
    left: 88%;
    margin: 27px;
    top: -61px;
}

.icon {
    width: 15px;              /* controla o tamanho do SVG */
    height: 16px;
    display: block;           /* remove espaços indesejados */
}

.badge {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 6px;
    height: 6px;
    background-color: #fd2016;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 95%;
    margin-top: -132px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carro {
    position: relative;
}

.carro h1 {
    position: absolute;
    top: -65%;
    left: 30%;
    font-size: 128px;
    font-weight: bolder;
    z-index: 1;
}

.carro img {
    position: relative;
    display: block;
    margin: auto;
    width: 983px;
    height: 307px;
    margin-top: 15%;
    z-index: 2;
}

.carro p {
    position: absolute;
    top: 0%;
    left: 32%;
    font-size: 24px;
    font-weight: bold;
    color: #fd2016;
}

.carro .ano {
    position: absolute;
    top: 9%;
    left: 32%;
    font-size: 24px;
    font-weight: bold;
    color: #989898;
}

.status {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 5%
}

.icon-square {
    width: 34px;
    height: 34px;
}

.square {
    background-color: #c8d1d9;
    width: 56px;
    height: 56px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    font-size: 20px;
    font-weight: 500;
}

.unidade {
    font-size: 11px;
}

.temperatura {
    position: absolute;
    top: 830px;
    left: 752px;
}

.gasolina {
    position: absolute;
    top: 830px;
    left: 870px;
}

.quilometragem {
    position: absolute;
    top: 830px;
    left: 980px;
}

.tranca {
    position: absolute;
    top: 830px;
    left: 1132px;
}

.barra-vazia {
    width: 78px;       
    height: 3px;        
    background-color: #c8d1d9;
    border-radius: 2px;
    position: absolute;
    top: 885px;
    left: 732px;
}

.barra-cheia {
    width: 22px;       
    height: 3px;  
    background-color: #fd2016;
    border-radius: 2px;
}

.barra-vazia-2 {
    width: 78px;       
    height: 3px;        
    background-color: #c8d1d9;
    border-radius: 2px;
    position: absolute;
    top: 885px;
    left: 858px;
}

.barra-cheia-2 {
    width: 54px;       
    height: 3px;  
    background-color: #fd2016;
    border-radius: 2px;
}

.anterior {
    background-color: #c8d1d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    position: absolute;
    margin-top: -320px;
    margin-left: 350px;
    transform: scaleX(-1);
}

.proximo {
    background-color: #c8d1d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    position: absolute;
    margin-top: -320px;
    margin-left: 1500px;
}

.icon-circle {
    width: 17px;
    height: 17px;
}

footer img {
    width: 202px;
    height: 26px;
}